[color]
    branch = auto
    ui = auto
    diff = auto
    status = auto
[user]
    name = crccheck
    email = c@crccheck.com
[color "diff"]
    whitespace = red reverse
[core]
    whitespace = fix,-indent-with-non-tabl,trailing-space,cr-at-eol
    editor = vi
[apply]
    whitespace = nowarn
[alias]
    b = branch
    ba = branch -ra
    bvv = branch -vv
    caa = commit -a --amend -C HEAD
    co = checkout
    d = diff -b
    derp = reset --hard HEAD
    fa = !git fetch --all &
    ggrreepp = !git grep $@ $(git rev-list --all --max-count=2000) && echo
    l = log --decorate --pretty=oneline --abbrev-commit
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = log --stat
    p = pull --ff-only
    pom = pull --rebase origin master
    s = status
    vi = "!f() { git ls-files -m | cut -f2 | sort -u ; }; $VISUAL -gp `f`"
    whoami = config --get user.name

[merge]
    tool = meld
