[color]
	branch = auto
	ui = auto
	diff = auto
	status = auto
[user]
	name = crccheck
	email = c@crccheck.com
[color "diff"]
	whitespace = red reverse
[core]
	whitespace=fix,-indent-with-non-tabl,trailing-space,cr-at-eol

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
