[color]
    branch = auto
    ui = auto
    diff = auto
    status = auto
[user]
    name = crccheck
    email = c@crccheck.com
[color "diff"]
    whitespace = red reverse
[core]
    whitespace = fix,-indent-with-non-tabl,trailing-space,cr-at-eol
    editor = vi
    excludesfiles = ~/.dotfiles/.gitignore_global
[apply]
    whitespace = nowarn
[alias]
    b = branch
    ba = branch -ra
    bvv = branch -vv
    caa = commit -a --amend -C HEAD
    co = checkout
    d = diff -b
    derp = reset --hard HEAD
    initempty = !git init && git commit -m 'initial commit (empty)' --allow-empty
    f = fetch
    fa = !git fetch --all &
    ggrreepp = !git grep $@ $(git rev-list --all --max-count=2000) && echo
    l = log --graph --decorate --pretty=oneline --abbrev-commit
    la = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lg = log -p
    ls = log --stat
    p = pull --ff-only
    pom = pull --rebase origin master
    s = status
    vi = "!f() { git ls-files -m | cut -f2 | sort -u ; }; $VISUAL -gp `f`"
    whoami = config --get user.name
    standup = !git reflog --since yesterday --decorate --author `git whoami`
    t = for-each-ref --sort='authordate' --format='%(authordate:short)\t%(refname:short)' refs/tags

[merge]
    tool = meld
[push]
	default = upstream
