"*":
  "autocomplete-python":
    caseInsensitiveCompletion: false
    useKite: false
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    audioBeep: false
    customFileTypes:
      "source.shell": [
        "env"
      ]
    disabledPackages: [
      "metrics"
      "deprecation-cop"
      "vim-mode"
      "language-python"
      "github"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".cache"
      ".DS_Store"
      ".git"
      "*.pyc"
      ".ipynb_checkpoints"
      ".tox"
      "__pycache__"
      "coverage"
      "node_modules"
      "target/*"
      "flow-typed/npm"
    ]
    packagesWithKeymapsDisabled: [
      "autocomplete-python"
      "bracket-matcher"
      "python-yapf"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    confirmCheckoutHeadRevision: false
    fontSize: 15
    invisibles:
      eol: false
    preferredLineLength: 79
    showInvisibles: true
  emmet: {}
  "exception-reporting":
    userId: "92efa8a2-ea08-edd4-697a-efdac8b09d9c"
  "git-diff": {}
  "js-hyperclick":
    extensions: [
      ".js"
      ".json"
      ".jsx"
    ]
  linter:
    lintOnChange: false
    lintOnOpen: false
    lintPreviewTabs: false
  "linter-eslint":
    globalNodePath: "/usr/local"
  "linter-flake8":
    maxComplexity: 100
    maxLineLength: 200
  "linter-flow": {}
  "linter-js-standard":
    checkStyleDevDependencies: true
    honorStyleSettings: true
    showEslintRules: true
  "linter-ui-default":
    showPanel: true
  "python-yapf":
    checkOnSave: false
    yapfPath: "/usr/local/bin/yapf"
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-plus": {}
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
  wrap: {}
".apache-config.mod_perl.source":
  editor:
    preferredLineLength: 79
".apache-config.source":
  editor:
    preferredLineLength: 79
".coffee.jsx.source":
  editor:
    preferredLineLength: 79
".console.python.text":
  editor:
    preferredLineLength: 79
".git-commit.text":
  editor:
    preferredLineLength: 72
".hyperlink.text":
  editor:
    preferredLineLength: 79
".js.jsx.source":
  editor:
    preferredLineLength: 79
".python.regexp.source":
  editor:
    preferredLineLength: 79
".python.source":
  editor:
    preferredLineLength: 79
".python.text.traceback":
  editor:
    preferredLineLength: 79
".scala.source":
  editor:
    preferredLineLength: 79
".text.todo":
  editor:
    preferredLineLength: 79
